/* Global Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Basic Base Style */
body { 
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f5f5f5;
    color: #222;
    padding: 1rem;
}

/* Page Header Style */
header.page-title {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
}

header.page-title h1 {
    font-size: 1.75rem;
    color: #124E66;
    margin: 0 auto;
}

/* Login form section */
#login-section {
    margin: 2rem auto;
    text-align: center;
}

main {
    display: flex;
    align-content: center;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

/* Sections */
section {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 2rem;
    padding: 1rem;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


/* Form Layout */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

/* Input Styling */
input[type="text"] {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    text-align: center;              
    transition: border-color 0.3s;   
  }

/* Button Styling */
button {
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #346F6F;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

button:hover {
    background-color: #124E66;
}

/*Main Menu Styling*/
#main-menu {
    text-align: center;
    padding-top: 1rem;
}

#main-menu h2 {
    margin-bottom: 1rem;
    color: #124E66;
}


#main-menu button {
    margin: 0.5rem 0;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: #346F6F;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#main-menu button:hover {
    background-color: #124E66;
}